EMAIL_FROM=
EMAIL_HOST=
EMAIL_PASSWORD=
EMAIL_PORT=
EMAIL_USER=
FRONTEND_URL=
JWT_SECRET=
MONGODB_CONNECT_TIMEOUT_MS=
MONGODB_DIRECT_URI=
MONGODB_SERVER_SELECTION_TIMEOUT_MS=
MONGODB_SOCKET_TIMEOUT_MS=
MONGODB_URI=